<div class="grid">
  <div class="col-12 pb-0">
    <app-t5-c3-c1-pesos [vp]="vp"></app-t5-c3-c1-pesos>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12">Observação cadastros</span>
      <div class="col-12 py-0">
        <textarea
          pInputTextarea
          class="col-12"
          style="resize: none"
          rows="5"
          [readonly]="vp.t5_mandatory_to_readonly"
          [(ngModel)]="vp.t5_c3_observacao"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="col-12 pb-0">
    <app-t5-c3-c2-anexo [vp]="vp"></app-t5-c3-c2-anexo>
  </div>
</div>
