<div class="grid mt-1">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">
        Unidade de medida Estoque
        <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
      </span>
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="vp.t1_req_to_read"
          [(ngModel)]="vp.t1_complemento"
        />
      </div>
    </div>
  </div>

  <div class="col-12 pb-0">
    <app-t1-c2-c5-mercadoria [vp]="vp"></app-t1-c2-c5-mercadoria>
  </div>

  <div class="col-12 pb-0">
    <app-t1-c2-c4-comercial [vp]="vp"></app-t1-c2-c4-comercial>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Especificação técnica
        <span [hidden]="vp.t1_req_to_read" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="vp.t1_req_to_read"
          [(ngModel)]="vp.t1_c2_especificacao"
        />
      </div>
    </div>
  </div>

  <div class="col-12 pb-0">
    <app-t1-c2-c7-multinivel [vp]="vp"></app-t1-c2-c7-multinivel>
  </div>
</div>
