<div class="grid mt-1">
  <div class="col-3">
    <app-t5-c1 [vp]="vp"></app-t5-c1>
  </div>

  <div class="col-3">
    <app-t5-c2 [vp]="vp"></app-t5-c2>
  </div>

  <div class="col-3">
    <app-t5-c3 [vp]="vp"></app-t5-c3>
  </div>

  <div class="col-3">
    <div class="grid">
      <span class="col-12">Justificativa recusa</span>
      <div class="col-12 py-0">
        <textarea
          pInputTextarea
          class="col-12"
          style="resize: none"
          rows="21"
          [readonly]="vp.t5_mandatory_to_readonly"
          [(ngModel)]="vp.t5_c4_recusa"
        ></textarea>
      </div>
    </div>
  </div>
</div>
