<!--<div class="grid">
  <div class="col-12">
    <p-table
      #tableDeposito
      [value]="vp.t3_deposito_array"
      dataKey="t3_c1_destino_cod"
      [rows]="10"
      [paginator]="true"
      [rowHover]="true"
      styleClass="p-datatable-sm"
      [globalFilterFields]="['t3_c1_destino_cod', 't3_c1_destino_des']"
      currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} produtos"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="grid">
          <div class="col-12 py-2 px-2">
            <h3 class="m-0">Lista depósitos</h3>
          </div>
          <div class="col-12 pt-0 pb-2 px-2">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                class="col-12"
                (input)="
                  tableDeposito.filterGlobal(
                    $any($event.target).value,
                    'contains'
                  )
                "
                placeholder="Buscar"
              />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="w-1"></th>
          <th class="w-2" [hidden]="vp.t3_mandatory_to_readonly">
            <h3 class="m-0">Código</h3>
          </th>
          <th class="w-3" [hidden]="!vp.t3_mandatory_to_readonly">
            <h3 class="m-0">código</h3>
          </th>
          <th class="w-4"><h3 class="m-0">Descrição</h3></th>
          <th class="w-2"><h3 class="m-0">Qtda. min. de vendas</h3></th>
          <th class="w-2"><h3 class="m-0">Qtda. max. de vendas</h3></th>
          <th class="w-1" [hidden]="vp.t3_mandatory_to_readonly"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-produto let-expanded="expanded">
        <tr>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="produto"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
          </td>
          <td>{{ produto.desPro }}</td>
          <td>{{ produto.desDer }}</td>
          <td>{{ "R$ " + formatarNumero(produto.preUni) }}</td>
          <td>{{ produto.qtdPed }}</td>
          <td [hidden]="pv.produto_crud_hide">
            <span class="p-buttonset">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-sm"
                (click)="editarProduto(produto)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-sm p-button-secondary"
                (click)="eliminarProduto(produto)"
              ></button>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-produto>
        <tr>
          <td></td>
          <td [colSpan]="pv.produto_crud_hide ? 3 : 4">
            <table>
              <thead>
                <tr>
                  <th class="w-4">Tabela de preço</th>
                  <th class="w-4">Desconto</th>
                  <th class="w-4">Acréscimo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ produto.desTpr }}</td>
                  <td>{{ formatarNumero(produto.perOfe) + " %" }}</td>
                  <td>{{ formatarNumero(produto.perAcr) + " %" }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [colSpan]="pv.produto_crud_hide ? 3 : 4">
            <table>
              <thead>
                <tr>
                  <th class="w-4">Valor preço tabela</th>
                  <th class="w-4">Valor do frete</th>
                  <th class="w-4">Valor unitário sem frete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ "R$ " + formatarNumero(produto.preBru) }}</td>
                  <td>{{ "R$ " + formatarNumero(produto.valFre) }}</td>
                  <td>{{ "R$ " + formatarNumero(produto.valSfr) }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [colSpan]="pv.produto_crud_hide ? 3 : 4">
            <table>
              <thead>
                <th class="w-3">Un. de medida</th>
                <th class="w-3">Peso bruto</th>
                <th class="w-3">Peso líquido</th>
                <th class="w-3">Data de entrega</th>
              </thead>
              <tbody>
                <td>{{ produto.uniMed }}</td>
                <td>{{ formatarNumero(produto.pesBru) + " Kg" }}</td>
                <td>{{ formatarNumero(produto.pesLiq) + " Kg" }}</td>
                <td>{{ produto.datEnt }}</td>
              </tbody>
            </table>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td [colSpan]="pv.produto_crud_hide ? 3 : 4">
            <table>
              <thead>
                <tr>
                  <th class="w-3">Transação</th>
                  <th class="w-3">Depósito</th>
                  <th class="w-3">N° Pedido do Cliente</th>
                  <th class="w-3">Seq. Pedido Cli.</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ produto.desTns }}</td>
                  <td>{{ produto.desDep }}</td>
                  <td>{{ produto.pedCli }}</td>
                  <td>{{ produto.seqPcl }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td></td>
        </tr>
        <tr [hidden]="produto.obsPro == ''">
          <td></td>
          <td [colSpan]="pv.produto_crud_hide ? 3 : 4">
            <table>
              <thead>
                <tr>
                  <th class="w-12">Observações do item</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ produto.obsPro }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
-->
