<div class="grid mt-1">
  <!-- Coluna 1 -->
  <div class="col-3" [hidden]="vp.t6_recusa_show_only">
    <div class="grid">
      <div class="col-12">
        <app-t6-c1-impostos [vp]="vp"></app-t6-c1-impostos>
      </div>

      <div class="col-12">
        <app-t6-c2-icms-especial [vp]="vp"></app-t6-c2-icms-especial>
      </div>

      <div class="col-12">
        <app-t6-c3-reducao-icms [vp]="vp"></app-t6-c3-reducao-icms>
      </div>

      <div class="col-12">
        <app-t6-c4-icms-substituido [vp]="vp"></app-t6-c4-icms-substituido>
      </div>

      <div class="col-12">
        <app-t6-c5-substituicao-cof [vp]="vp"></app-t6-c5-substituicao-cof>
      </div>

      <div class="col-12">
        <app-t6-c6-substituicao-pis [vp]="vp"></app-t6-c6-substituicao-pis>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Recupera Pis
            <span [hidden]="vp.t6_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-dropdown
              class="w-12"
              [styleClass]="'w-12'"
              [panelStyleClass]="'col-12'"
              [options]="vp.check_options"
              placeholder="Selecione"
              [(ngModel)]="vp.t6_recupera_pis"
              [readonly]="vp.t6_req_to_read"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Recupera Cofins
            <span [hidden]="vp.t6_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-dropdown
              class="w-12"
              [styleClass]="'w-12'"
              [panelStyleClass]="'col-12'"
              [options]="vp.check_options"
              placeholder="Selecione"
              [(ngModel)]="vp.t6_recupera_cof"
              [readonly]="vp.t6_req_to_read"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Coluna 2 -->
  <div class="col-3" [hidden]="vp.t6_recusa_show_only">
    <div class="grid">
      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Tributa Pis
            <span [hidden]="vp.t6_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-dropdown
              class="w-12"
              [styleClass]="'w-12'"
              [panelStyleClass]="'col-12'"
              [options]="vp.check_options"
              placeholder="Selecione"
              [(ngModel)]="vp.t6_tributa_pis"
              [readonly]="vp.t6_req_to_read"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Tributa Cofins
            <span [hidden]="vp.t6_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-dropdown
              class="w-12"
              [styleClass]="'w-12'"
              [panelStyleClass]="'col-12'"
              [options]="vp.check_options"
              placeholder="Selecione"
              [(ngModel)]="vp.t6_tributa_cof"
              [readonly]="vp.t6_req_to_read"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-12">
        <app-t6-c7-situ-pis-vendas [vp]="vp"></app-t6-c7-situ-pis-vendas>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">Natureza Receita Pis</span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [useGrouping]="false"
              [readonly]="vp.t6_req_to_read"
              [(ngModel)]="vp.t6_natureza_pis"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-12">
        <app-t6-c8-situ-cof-vendas [vp]="vp"></app-t6-c8-situ-cof-vendas>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">Natureza Receita Cofins</span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [useGrouping]="false"
              [readonly]="vp.t6_req_to_read"
              [(ngModel)]="vp.t6_natureza_cof"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-12">
        <app-t6-c9-enquadramento [vp]="vp"></app-t6-c9-enquadramento>
      </div>

      <div class="col-12">
        <app-t6-c10-situ-pis-compras [vp]="vp"></app-t6-c10-situ-pis-compras>
      </div>

      <div class="col-12">
        <app-t6-c11-situ-cof-compras [vp]="vp"></app-t6-c11-situ-cof-compras>
      </div>
    </div>
  </div>

  <!-- Coluna 3 -->
  <div class="col-3" [hidden]="vp.t6_recusa_show_only">
    <div class="grid">
      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Usa Produto x Fornecedor
            <span [hidden]="vp.t6_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-dropdown
              class="w-12"
              [styleClass]="'w-12'"
              [panelStyleClass]="'col-12'"
              [options]="vp.check_options"
              placeholder="Selecione"
              [(ngModel)]="vp.t6_produ_forne"
              [readonly]="vp.t6_req_to_read"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            % Funrural
            <span [hidden]="vp.t6_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              suffix=" %"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [showButtons]="!vp.t6_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t6_req_to_read"
              placeholder="0,00 %"
              [(ngModel)]="vp.t6_funrural"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">% Gilrat</span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              suffix=" %"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [showButtons]="!vp.t6_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t6_req_to_read"
              placeholder="0,00 %"
              [(ngModel)]="vp.t6_gilrat"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">% Senar / Senat</span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              suffix=" %"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [showButtons]="!vp.t6_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t6_req_to_read"
              placeholder="0,00 %"
              [(ngModel)]="vp.t6_senart"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-12">
        <app-t6-c12-enquadramento-espe [vp]="vp">
        </app-t6-c12-enquadramento-espe>
      </div>

      <div class="col-12">
        <app-t6-c13-motivo [vp]="vp"></app-t6-c13-motivo>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">Especificador Substituição Tributária</span>
          <div class="col-12 py-0">
            <input
              pInputText
              type="text"
              class="col-12"
              [readonly]="vp.t6_req_to_read"
              [(ngModel)]="vp.t6_espe_subs_trub"
            />
          </div>
        </div>
      </div>

      <div class="col-12" [hidden]="vp.t6_c12_enqua_esp_des != 'Combustível'">
        <div class="grid">
          <span class="col-12">
            Código produto ANP
            <span [hidden]="vp.t6_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [maxlength]="9"
              [useGrouping]="false"
              [readonly]="vp.t6_req_to_read"
              [(ngModel)]="vp.t6_anp_cod"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-12" [hidden]="vp.t6_c12_enqua_esp_des != 'Combustível'">
        <div class="grid">
          <span class="col-12">
            Descrição produto na ANP
            <span [hidden]="vp.t6_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <input
              pInputText
              type="text"
              class="col-12"
              [readonly]="vp.t6_req_to_read"
              [(ngModel)]="vp.t6_anp_des"
            />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">Tabela pauta fiscal</span>
          <div class="col-12 py-0">
            <input
              pInputText
              type="text"
              class="col-12"
              [readonly]="vp.t6_req_to_read"
              [(ngModel)]="vp.t6_pauta"
            />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">Código cBenef</span>
          <div class="col-12 py-0">
            <input
              pInputText
              type="text"
              class="col-12"
              [readonly]="vp.t6_req_to_read"
              [(ngModel)]="vp.t6_benef"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Coluna 4 -->
  <div class="col-3">
    <div class="grid">
      <div class="col-12 pb-1" [hidden]="vp.t6_recusa_show_only">
        <div class="grid">
          <span class="col-12">Comentários e observações da área fiscal</span>
          <div class="col-12 py-0">
            <textarea
              pInputTextarea
              class="col-12"
              style="resize: none"
              rows="9"
              [readonly]="vp.t6_req_to_read"
              [(ngModel)]="vp.t6_observacoes"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">Justificativa da recusa do cadastro</span>
          <div class="col-12 py-0">
            <textarea
              pInputTextarea
              class="col-12"
              style="resize: none"
              rows="9"
              [readonly]="vp.t6_req_to_read"
              [(ngModel)]="vp.t6_recusa"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="col-12">
        <app-t6-c14-anexo [vp]="vp"></app-t6-c14-anexo>
      </div>
    </div>
  </div>
</div>
