<!--<div class="grid mt-1">
  <div class="col-12">
    <div class="grid">
      <div class="col-3">
        <app-t3-c1-deposito [vp]="vp"></app-t3-c1-deposito>
      </div>

      <div class="col-3">
        <div class="grid">
          <span class="col-12">Qtde. Estoque rep.</span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="4"
              [maxFractionDigits]="4"
              [showButtons]="!vp.t3_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t3_req_to_read"
              placeholder="0,0000"
              [(ngModel)]="vp.t3_qtde_estoque_rep"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="grid">
          <span class="col-12">Qtde. Estoque min.</span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="4"
              [maxFractionDigits]="4"
              [showButtons]="!vp.t3_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t3_req_to_read"
              placeholder="0,0000"
              [(ngModel)]="vp.t3_qtde_estoque_min"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="grid">
          <span class="col-12">Qtde. Estoque max.</span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="4"
              [maxFractionDigits]="4"
              [showButtons]="!vp.t3_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t3_req_to_read"
              placeholder="0,0000"
              [(ngModel)]="vp.t3_qtde_estoque_max"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <div class="col-3">
        <div class="grid">
          <span class="col-12">Estq. Mínimo em dias</span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="4"
              [maxFractionDigits]="4"
              [showButtons]="!vp.t3_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t3_req_to_read"
              placeholder="0,0000"
              [(ngModel)]="vp.t3_est_min_dias"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="grid">
          <span class="col-12">Estq. Máximo em dias</span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="4"
              [maxFractionDigits]="4"
              [showButtons]="!vp.t3_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t3_req_to_read"
              placeholder="0,0000"
              [(ngModel)]="vp.t3_est_max_dias"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="grid">
          <span class="col-12">
            Qtde. Múltipla para vendas
            <span [hidden]="vp.t3_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="4"
              [maxFractionDigits]="4"
              [showButtons]="!vp.t3_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t3_req_to_read"
              placeholder="0,0000"
              [(ngModel)]="vp.t3_qtde_mul_ven"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="grid">
          <span class="col-12">
            Qtde. Múltipla para compras
            <span [hidden]="vp.t3_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="4"
              [maxFractionDigits]="4"
              [showButtons]="!vp.t3_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t3_req_to_read"
              placeholder="0,0000"
              [(ngModel)]="vp.t3_qtde_mul_com"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <div class="col-3">
        <div class="grid">
          <span class="col-12">
            Qtde. min. de vendas
            <span [hidden]="vp.t3_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="4"
              [maxFractionDigits]="4"
              [showButtons]="!vp.t3_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t3_req_to_read"
              placeholder="0,0000"
              [(ngModel)]="vp.t3_qtde_min_vendas"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="grid">
          <span class="col-12">
            Qtde. max. de vendas
            <span [hidden]="vp.t3_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="4"
              [maxFractionDigits]="4"
              [showButtons]="!vp.t3_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t3_req_to_read"
              placeholder="0,0000"
              [(ngModel)]="vp.t3_qtde_max_vendas"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
