<div class="grid">
  <div class="col-12" [hidden]="vp.t6_show_only_recusa">
    <div class="grid">
      <span class="col-12">Comentários e observações da área fiscal</span>
      <div class="col-12 py-0">
        <textarea
          pInputTextarea
          class="col-12"
          style="resize: none"
          rows="13"
          [readonly]="vp.t6_mandatory_to_readonly"
          [(ngModel)]="vp.t6_c4_c1_observacoes"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="col-12 {{ vp.t6_show_only_recusa ? '' : 'pt-1' }}">
    <div class="grid">
      <span class="col-12">Justificativa da recusa do cadastro</span>
      <div class="col-12 py-0">
        <textarea
          pInputTextarea
          class="col-12"
          style="resize: none"
          rows="13"
          [readonly]="vp.t6_mandatory_to_readonly"
          [(ngModel)]="vp.t6_c4_c1_recusa"
        ></textarea>
      </div>
    </div>
  </div>
</div>
