<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">
        Familia
        <span style="color: red" [hidden]="vp.t1_req_to_read">*</span>
      </span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times-circle"
            class="py-0 pl-0 pr-1 p-button-text p-button-secondary w-auto"
            [style.display]="
              vp.t1_req_to_read || vp.buscandoWS || vp.t1_c5_familia_cod == ''
                ? 'none'
                : ''
            "
            (click)="familiaClear()"
          ></button>
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t1_c5_familia_des"
            (click)="vp.t1_req_to_read || vp.buscandoWS ? '' : familiaInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t1_req_to_read ? 'none' : ''"
            (click)="familiaInput()"
            [disabled]="vp.buscandoWS"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Famílias"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal"
  >
    <p-table
      #tableFamilia
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t1_c5_familia_arr"
      [(selection)]="vp.t1_c5_familia_obj"
      (onRowSelect)="familiaSelect()"
      dataKey="codFam"
      [globalFilterFields]="['codFam', 'desFam', 'codOri']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableFamilia.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codFam">
            Código <p-sortIcon field="codFam"></p-sortIcon>
          </th>
          <th pSortableColumn="desFam">
            Descrição <p-sortIcon field="desFam"></p-sortIcon>
          </th>
          <th>Código de Origem</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-fam>
        <tr [pSelectableRow]="fam">
          <td>{{ fam.codFam }}</td>
          <td>{{ fam.desFam }}</td>
          <td>{{ fam.codOri }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>
</div>
