<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Código Substituição Cofins</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t6_c1_c3_cof_subs_cod"
            (click)="cofinsInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t6_mandatory_to_readonly ? 'none' : ''"
            (click)="cofinsInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Códigos"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [(visible)]="showModalCof"
  >
    <p-table
      #tableSubCof
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [value]="vp.t6_c1_c3_cof_subs_arr"
      [(selection)]="vp.t6_c1_c3_cof_subs_obj"
      (onRowSelect)="cofinsSelect()"
      dataKey=""
      [globalFilterFields]="['', '']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableSubCof.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cof>
        <tr [pSelectableRow]="cof">
          <td>{{ cof.c }}</td>
          <td>{{ cof.d }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Código Substituição Pis
        <span style="color: red" [hidden]="vp.t6_mandatory_to_readonly"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t6_c1_c3_pis_subs_cod"
            (click)="pisInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t6_mandatory_to_readonly ? 'none' : ''"
            (click)="pisInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Códigos"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [(visible)]="showModalPis"
  >
    <p-table
      #tableSubPis
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [value]="vp.t6_c1_c3_pis_subs_arr"
      [(selection)]="vp.t6_c1_c3_pis_subs_obj"
      (onRowSelect)="pisSelect()"
      dataKey=""
      [globalFilterFields]="['', '']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableSubPis.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pis>
        <tr [pSelectableRow]="pis">
          <td>{{ pis.c }}</td>
          <td>{{ pis.d }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
