<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Substituto de item já cadastrado?
        <span [hidden]="vp.t1_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="vp.check_options"
          placeholder="Selecione"
          [(ngModel)]="vp.t1_c1_c1_substituto_cad"
          [readonly]="vp.t1_mandatory_to_readonly"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12" [hidden]="vp.t1_c1_c1_substituto_cad != 'Sim'">
    <div class="grid">
      <span class="col-12"
        >Código do item a ser substituido
        <span style="color: red" [hidden]="vp.t1_mandatory_to_readonly"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t1_c1_c1_item_subs_cod"
            (click)="substituidoInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t1_mandatory_to_readonly ? 'none' : ''"
            (click)="substituidoInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Itens para substituir"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [(visible)]="showModalSub"
  >
    <p-table
      #tableSubstituido
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [value]="vp.t1_c1_c1_item_subs_arr"
      [(selection)]="vp.t1_c1_c1_item_subs_obj"
      (onRowSelect)="substituidoSelect()"
      dataKey=""
      [globalFilterFields]="['', '']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableSubstituido.filterGlobal(
                  $any($event.target).value,
                  'contains'
                )
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sub>
        <tr [pSelectableRow]="sub">
          <td>{{ sub.c }}</td>
          <td>{{ sub.d }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
