<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Situação Tributária Cofins Vendas
        <span style="color: red" [hidden]="vp.t6_mandatory_to_readonly"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times-circle"
            class="p-0 p-button-text p-button-secondary w-auto mr-1"
            [style.display]="
              vp.t6_mandatory_to_readonly || vp.t6_c2_c2_cof_ven_cod == ''
                ? 'none'
                : ''
            "
            (click)="situacaoClear()"
          ></button>
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t6_c2_c2_cof_ven_des"
            (click)="situacaoInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t6_mandatory_to_readonly ? 'none' : ''"
            (click)="situacaoInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Situações"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal"
  >
    <p-table
      #tableCofVen
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t6_c2_sit_tri_arr"
      [(selection)]="vp.t6_c2_c2_cof_ven_obj"
      (onRowSelect)="situacaoSelect()"
      dataKey="chvLis"
      [globalFilterFields]="['chvLis', 'desLis']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableCofVen.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="chvLis">
            Código <p-sortIcon field="chvLis"></p-sortIcon>
          </th>
          <th pSortableColumn="desLis">
            Descrição <p-sortIcon field="desLis"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sit>
        <tr [pSelectableRow]="sit">
          <td>{{ sit.chvLis }}</td>
          <td>{{ sit.desLis }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Natureza Receita Cofins
        <span [hidden]="vp.t6_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-inputNumber
          class="w-12"
          [styleClass]="'w-12'"
          [inputStyleClass]="'col-12'"
          [min]="0"
          [useGrouping]="false"
          [readonly]="vp.t6_mandatory_to_readonly"
          [(ngModel)]="vp.t6_c2_c2_cof_nat_cod"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>
</div>
