<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Código de barras livre
        <span [hidden]="vp.t1_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="vp.t1_mandatory_to_readonly"
          [(ngModel)]="vp.t1_c2_c3_barras"
        />
      </div>
      <h6
        class="col-12 m-0 py-0"
        style="font-weight: normal"
        [hidden]="vp.t1_mandatory_to_readonly"
      >
        Se não possuir código, deve preencher "SEM GTIN" e justificar no campo
        abaixo
      </h6>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Justificativa código de barras
        <span
          [hidden]="
            vp.t1_mandatory_to_readonly ||
            (vp.t1_c2_c3_barras != '' && vp.t1_c2_c3_barras != 'SEM GTIN')
          "
          style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="vp.t1_mandatory_to_readonly"
          [(ngModel)]="vp.t1_c2_c3_barras_justificativa"
        />
      </div>
    </div>
  </div>
</div>
