<div class="grid">
  <span class="col-12">
    Depósito destino
    <span style="color: red" [hidden]="vp.t1_req_to_read">*</span>
  </span>
  <div class="col-12 py-0">
    <div class="p-inputgroup">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-times-circle"
        class="py-0 pl-0 pr-1 p-button-text p-button-secondary w-auto"
        [style.display]="
          vp.t1_req_to_read || vp.buscandoWS || vp.t1_c12_destino_cod == ''
            ? 'none'
            : ''
        "
        (click)="depositoClear()"
      ></button>
      <input
        pInputText
        type="text"
        class="col-12"
        placeholder="Selecione"
        [readonly]="true"
        [(ngModel)]="vp.t1_c12_destino_cod"
        (click)="vp.t1_req_to_read || vp.buscandoWS ? '' : depositoInput()"
      />
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-search"
        class="p-0"
        [style.display]="vp.t1_req_to_read ? 'none' : ''"
        (click)="depositoInput()"
        [disabled]="vp.buscandoWS"
      ></button>
    </div>
  </div>
</div>
<p-dialog
  header="Destinos"
  [styleClass]="'w-8'"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
  [closable]="!vp.buscandoWS"
  [(visible)]="mostrar_modal"
>
  <p-table
    #tableDepoDes
    styleClass="p-datatable-sm"
    [rows]="10"
    [paginator]="true"
    [loading]="vp.buscandoWS"
    [value]="vp.t1_c12_destino_arr"
    [(selection)]="vp.t1_c12_destino_sel"
    (onRowSelect)="depositoSelect()"
    (onRowUnselect)="depositoSelect()"
    (onHeaderCheckboxToggle)="depositoSelect()"
    dataKey="codDep"
    [globalFilterFields]="['codDep', 'desDep']"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input
            type="text"
            class="col-12"
            pInputText
            (input)="
              tableDepoDes.filterGlobal($any($event.target).value, 'contains')
            "
            placeholder="Buscar"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="codDep">
          Código <p-sortIcon field="codDep"></p-sortIcon>
        </th>
        <th pSortableColumn="desDep">
          Descrição <p-sortIcon field="desDep"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dep>
      <tr [pSelectableRow]="dep">
        <td>
          <p-tableCheckbox [value]="dep"></p-tableCheckbox>
        </td>
        <td>{{ dep.codDep }}</td>
        <td>{{ dep.desDep }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
