<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >% Senar / Senat
        <span [hidden]="vp.t6_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-inputNumber
          class="w-12"
          [styleClass]="'w-12'"
          [inputStyleClass]="'col-12'"
          [min]="0"
          [step]="1"
          mode="decimal"
          suffix=" %"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          [showButtons]="!vp.t6_mandatory_to_readonly"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          decrementButtonClass="p-0"
          incrementButtonClass="p-0"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [readonly]="vp.t6_mandatory_to_readonly"
          placeholder="0,00 %"
          [(ngModel)]="vp.t6_c3_senart"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>

  <div class="col-12 pb-0">
    <app-t6-c3-c1-enqua [vp]="vp"></app-t6-c3-c1-enqua>
  </div>

  <div class="col-12 pb-0">
    <app-t6-c3-c2-motiv [vp]="vp"></app-t6-c3-c2-motiv>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12">Especificador Substituição Tributária</span>
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="vp.t6_mandatory_to_readonly"
          [(ngModel)]="vp.t6_c3_substituicao"
        />
      </div>
    </div>
  </div>

  <div [hidden]="vp.t6_c3_c1_enq_esp_des != 'Combustível'" class="col-12 pb-0">
    <app-t6-c3-c3-anp [vp]="vp"></app-t6-c3-c3-anp>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Calcula Funrural
        <span [hidden]="vp.t6_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="vp.check_options"
          placeholder="Selecione"
          [(ngModel)]="vp.t6_c3_cal_fun"
          [readonly]="vp.t6_mandatory_to_readonly"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Calcula Senar
        <span [hidden]="vp.t6_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="vp.check_options"
          placeholder="Selecione"
          [(ngModel)]="vp.t6_c3_cal_sen"
          [readonly]="vp.t6_mandatory_to_readonly"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12 pb-0">
    <app-t6-c3-c4-pauta [vp]="vp"></app-t6-c3-c4-pauta>
  </div>

  <div class="col-12 pb-0">
    <app-t6-c3-c5-benef [vp]="vp"></app-t6-c3-c5-benef>
  </div>
</div>
