<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Classe toxicológica</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t1_c4_c1_toxico_des"
            (click)="toxicoInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t1_mandatory_to_readonly ? 'none' : ''"
            (click)="toxicoInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Classes"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal"
  >
    <p-table
      #tableToxico
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t1_c4_c1_toxico_arr"
      [(selection)]="vp.t1_c4_c1_toxico_obj"
      (onRowSelect)="toxicoSelect()"
      dataKey="codCto"
      [globalFilterFields]="['codCto', 'desCto', 'claCto']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableToxico.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codCto">
            Código <p-sortIcon field="codCto"></p-sortIcon>
          </th>
          <th pSortableColumn="desCto">
            Descrição <p-sortIcon field="desCto"></p-sortIcon>
          </th>
          <th pSortableColumn="claCto">
            Classe <p-sortIcon field="claCto"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tox>
        <tr [pSelectableRow]="tox">
          <td>{{ tox.codCto }}</td>
          <td>{{ tox.desCto }}</td>
          <td>{{ tox.claCto }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
