<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Qtda. Estoque min.</span>
      <div class="col-12 py-0">
        <p-inputNumber
          class="w-12"
          [styleClass]="'w-12'"
          [inputStyleClass]="'col-12'"
          [min]="0"
          [step]="1"
          mode="decimal"
          [minFractionDigits]="4"
          [maxFractionDigits]="4"
          [showButtons]="!vp.t3_mandatory_to_readonly"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          decrementButtonClass="p-0"
          incrementButtonClass="p-0"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [readonly]="vp.t3_mandatory_to_readonly"
          placeholder="0,0000"
          [(ngModel)]="vp.t3_c2_quan_estoque_min"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12">Qtda. Estoque max.</span>
      <div class="col-12 py-0">
        <p-inputNumber
          class="w-12"
          [styleClass]="'w-12'"
          [inputStyleClass]="'col-12'"
          [min]="0"
          [step]="1"
          mode="decimal"
          [minFractionDigits]="4"
          [maxFractionDigits]="4"
          [showButtons]="!vp.t3_mandatory_to_readonly"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          decrementButtonClass="p-0"
          incrementButtonClass="p-0"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [readonly]="vp.t3_mandatory_to_readonly"
          placeholder="0,0000"
          [(ngModel)]="vp.t3_c2_quan_estoque_max"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Qtda. max. de vendas
        <span [hidden]="vp.t3_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-inputNumber
          class="w-12"
          [styleClass]="'w-12'"
          [inputStyleClass]="'col-12'"
          [min]="0"
          [step]="1"
          mode="decimal"
          [minFractionDigits]="4"
          [maxFractionDigits]="4"
          [showButtons]="!vp.t3_mandatory_to_readonly"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          decrementButtonClass="p-0"
          incrementButtonClass="p-0"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [readonly]="vp.t3_mandatory_to_readonly"
          placeholder="0,0000"
          [(ngModel)]="vp.t3_c2_quan_max_vendas"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>
</div>
