<div class="card">
  <button [hidden]="true" type="button" (click)="a()">teste</button>

  <p-messages
    [styleClass]="'w-12'"
    [(value)]="vp.alertas"
    [enableService]="false"
  ></p-messages>

  <h5 style="font-weight: normal" class="mt-0 mb-2">
    (<span style="color: red">*</span>) Atenção aos campos obrigatórios
  </h5>

  <p-tabMenu
    [model]="menus"
    [activeItem]="activeMenu"
    [scrollable]="!vp.overlay"
  ></p-tabMenu>

  <app-t1-basicos [hidden]="panel['t1_basicos']" [vp]="vp"></app-t1-basicos>

  <app-t2-fornecedor [hidden]="panel['t2_fornecedor']" [vp]="vp"></app-t2-fornecedor>

  <app-t3-deposito [hidden]="panel['t3_deposito']" [vp]="vp"></app-t3-deposito>

  <app-t4-obs-ane [hidden]="panel['t4_obs_ane']" [vp]="vp"></app-t4-obs-ane>

  <app-t5-cadastro [hidden]="panel['t5_cadastro']" [vp]="vp"></app-t5-cadastro>

  <app-t6-fis-con [hidden]="panel['t6_fis_con']" [vp]="vp"></app-t6-fis-con>
</div>

<div class="progress-spinner-parent" *ngIf="vp.overlay">
  <p-progressSpinner class="progress-spinner"></p-progressSpinner>
</div>
