<div class="card">
  <button [hidden]="true" type="button" (click)="a()">teste</button>

  <p-messages #msg [styleClass]="'w-12'"></p-messages>

  <h5 style="font-weight: normal" class="mt-0 mb-2">Versão {{ version }}</h5>
  <h5 style="font-weight: normal" class="mt-0 mb-2">
    (<span style="color: red">*</span>) Atenção aos campos obrigatórios
  </h5>

  <app-c1-empresa [vp]="vp"></app-c1-empresa>

  <div [hidden]="vp.c1_empresa_nom == ''">
    <p-tabMenu
      [model]="menus"
      [activeItem]="activeMenu"
      [scrollable]="!vp.overlay"
    ></p-tabMenu>

    <app-t1-basicos [hidden]="panel['t1_basicos']" [vp]="vp"></app-t1-basicos>

    <app-t5-cadastro
      [hidden]="panel['t2_cadastro']"
      [vp]="vp"
    ></app-t5-cadastro>

    <app-t6-fis-con [hidden]="panel['t3_fis_con']" [vp]="vp"></app-t6-fis-con>

    <div class="grid mt-2" [style.display]="vp.c7_cadastro_show ? '' : 'none'">
      <div class="col-3">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-database"
          label="Cadastrar"
          class="w-full"
          [disabled]="vp.c7_mensagem_retorno == 'OK'"
          (click)="cadastrarProduto()"
        ></button>
      </div>
      <div class="col-9"></div>

      <div class="col-3" [hidden]="vp.c7_mensagem_retorno == ''">
        <div class="grid">
          <span class="col-12">Código do produto</span>
          <div class="col-12 py-0">
            <input
              type="text"
              class="col-12"
              pInputText
              [readonly]="true"
              [(ngModel)]="vp.c7_codigo_produto"
            />
          </div>
        </div>
      </div>

      <div class="col-12" [hidden]="vp.c7_mensagem_retorno == ''">
        <div class="grid">
          <span class="col-12">Mensagem de retorno</span>
          <div class="col-12 py-0">
            <textarea
              class="col-12"
              rows="6"
              pInputTextarea
              style="resize: none"
              [readonly]="true"
              [(ngModel)]="vp.c7_mensagem_retorno"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="progress-spinner-parent" *ngIf="vp.overlay">
  <p-progressSpinner class="progress-spinner"></p-progressSpinner>
</div>
