<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Código ICMS Especial</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times-circle"
            class="p-0 p-button-text p-button-secondary w-auto mr-1"
            [style.display]="
              vp.t6_req_to_read || vp.t6_c1_c2_icms_especial_cod == ''
                ? 'none'
                : ''
            "
            (click)="especialClear()"
          ></button>
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t6_c1_c2_icms_especial_cod"
            (click)="especialInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t6_req_to_read ? 'none' : ''"
            (click)="especialInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Códigos"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal_esp"
  >
    <p-table
      #tableEspecial
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t6_c1_c2_icms_especial_arr"
      [(selection)]="vp.t6_c1_c2_icms_especial_obj"
      (onRowSelect)="especialSelect()"
      dataKey="codTic"
      [globalFilterFields]="['codTic', 'desTic']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableEspecial.filterGlobal(
                  $any($event.target).value,
                  'contains'
                )
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codTic">
            Código <p-sortIcon field="codTic"></p-sortIcon>
          </th>
          <th pSortableColumn="desTic">
            Descrição <p-sortIcon field="desTic"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-esp>
        <tr [pSelectableRow]="esp">
          <td>{{ esp.codTic }}</td>
          <td>{{ esp.desTic }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >

  <div class="col-12">
    <div class="grid">
      <span class="col-12">Código Redução ICMS</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times-circle"
            class="p-0 p-button-text p-button-secondary w-auto mr-1"
            [style.display]="
              vp.t6_req_to_read || vp.t6_c1_c2_reducao_icms_cod == ''
                ? 'none'
                : ''
            "
            (click)="reducaoClear()"
          ></button>
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t6_c1_c2_reducao_icms_cod"
            (click)="reducaoInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t6_req_to_read ? 'none' : ''"
            (click)="reducaoInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Reduções"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal_red"
  >
    <p-table
      #tableReducao
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t6_c1_c2_reducao_icms_arr"
      [(selection)]="vp.t6_c1_c2_reducao_icms_obj"
      (onRowSelect)="reducaoSelect()"
      dataKey="codTrd"
      [globalFilterFields]="['codTrd', 'desTrd']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableReducao.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codTrd">
            Código <p-sortIcon field="codTrd"></p-sortIcon>
          </th>
          <th pSortableColumn="desTrd">
            Descrição <p-sortIcon field="desTrd"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-red>
        <tr [pSelectableRow]="red">
          <td>{{ red.codTrd }}</td>
          <td>{{ red.desTrd }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
