<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Classe de risco</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times-circle"
            class="p-0 p-button-text p-button-secondary w-auto mr-1"
            [style.display]="
              vp.t1_mandatory_to_readonly || vp.t1_c4_c2_risco_cod == ''
                ? 'none'
                : ''
            "
            (click)="riscoClear()"
          ></button>
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t1_c4_c2_risco_des"
            (click)="riscoInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t1_mandatory_to_readonly ? 'none' : ''"
            (click)="riscoInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Classes"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal"
  >
    <p-table
      #tableRisco
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t1_c4_c2_risco_arr"
      [(selection)]="vp.t1_c4_c2_risco_obj"
      (onRowSelect)="riscoSelect()"
      dataKey="codCri"
      [globalFilterFields]="['codCri', 'desCri']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableRisco.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codCri">
            Código <p-sortIcon field="codCri"></p-sortIcon>
          </th>
          <th pSortableColumn="desCri">
            Descrição <p-sortIcon field="desCri"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ris>
        <tr [pSelectableRow]="ris">
          <td>{{ ris.codCri }}</td>
          <td>{{ ris.desCri }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
