<div class="grid">
  <span class="col-12">Duplicar cadastro para outras empresas</span>
  <div class="col-12 py-0">
    <div class="p-inputgroup">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-times-circle"
        class="py-0 pl-0 pr-1 p-button-text p-button-secondary w-auto"
        [style.display]="
          vp.t1_req_to_read || vp.buscandoWS || vp.t1_c14_duplicado_nom == ''
            ? 'none'
            : ''
        "
        (click)="dupClear()"
      ></button>
      <input
        pInputText
        type="text"
        class="col-12"
        placeholder="Selecione"
        [readonly]="true"
        [(ngModel)]="vp.t1_c14_duplicado_nom"
        (click)="vp.t1_req_to_read || vp.buscandoWS ? '' : dupInput()"
      />
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-search"
        class="p-0"
        [style.display]="vp.t1_req_to_read ? 'none' : ''"
        (click)="dupInput()"
        [disabled]="vp.buscandoWS"
      ></button>
    </div>
  </div>
</div>
<p-dialog
  header="Empresas"
  [styleClass]="'w-6'"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
  [closable]="!vp.buscandoWS"
  [(visible)]="mostrar_modal_dup"
>
  <p-table
    #tA
    styleClass="p-datatable-sm"
    [rows]="10"
    [paginator]="true"
    [loading]="vp.buscandoWS"
    [value]="vp.t1_c14_duplicado_arr"
    [(selection)]="vp.t1_c14_duplicado_sel"
    (onRowSelect)="dupSelect()"
    (onRowUnselect)="dupSelect()"
    (onHeaderCheckboxToggle)="dupSelect()"
    dataKey="codEmp"
    [globalFilterFields]="['codEmp', 'nomEmp']"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input
            type="text"
            class="col-12"
            pInputText
            (input)="tA.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Buscar"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="codEmp">
          Código <p-sortIcon field="codEmp"></p-sortIcon>
        </th>
        <th pSortableColumn="nomEmp">
          Descrição <p-sortIcon field="nomEmp"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-emp>
      <tr [pSelectableRow]="emp">
        <td>
          <p-tableCheckbox [value]="emp"></p-tableCheckbox>
        </td>
        <td>{{ emp.codEmp }}</td>
        <td>{{ emp.nomEmp }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
