<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Código produto ANP
        <span [hidden]="vp.t6_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-inputNumber
          class="w-12"
          [styleClass]="'w-12'"
          [inputStyleClass]="'col-12'"
          [min]="0"
          [maxlength]="9"
          [useGrouping]="false"
          [readonly]="vp.t6_mandatory_to_readonly"
          [(ngModel)]="vp.t6_c3_c3_anp_cod"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Descrição produto na ANP
        <span [hidden]="vp.t6_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="vp.t6_mandatory_to_readonly"
          [(ngModel)]="vp.t6_c3_c3_anp_des"
        />
      </div>
    </div>
  </div>
</div>
