<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Pode ser requisitado?</span>
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="true"
          [(ngModel)]="vp.t1_c3_c1_requisitado"
        />
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12">Pode ser vendido?</span>
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="true"
          [(ngModel)]="vp.t1_c3_c1_vendido"
        />
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12">Pode ser comprado?</span>
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="true"
          [(ngModel)]="vp.t1_c3_c1_comprado"
        />
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12">Permite gerar orçamento?</span>
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="true"
          [(ngModel)]="vp.t1_c3_c1_orcamento"
        />
      </div>
    </div>
  </div>
</div>
