<div class="grid mt-1">
  <!-- Coluna 1 -->
  <div class="col-3">
    <div class="grid">
      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Descrição
            <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <input
              pInputText
              type="text"
              class="col-12"
              [readonly]="vp.t1_req_to_read"
              [(ngModel)]="vp.t1_descricao_prod"
              (keyup)="
                vp.t1_descricao_prod = vp.t1_descricao_prod.toUpperCase();
                vp.t1_descricao_fiscal = vp.t1_descricao_prod
              "
              [pKeyFilter]="vp.key_filter"
            />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">Complemento</span>
          <div class="col-12 py-0">
            <input
              pInputText
              type="text"
              class="col-12"
              [readonly]="vp.t1_req_to_read"
              [(ngModel)]="vp.t1_complemento"
            />
          </div>
        </div>
      </div>

      <div class="col-12 pb-1">
        <div class="grid">
          <span class="col-12">
            Descrição p/nota fiscal
            <span style="color: red" [hidden]="vp.t1_req_to_read">*</span>
          </span>
          <div class="col-12 py-0 mb-0">
            <textarea
              pInputTextarea
              class="col-12"
              style="resize: none"
              rows="5"
              [readonly]="vp.t1_req_to_read"
              [(ngModel)]="vp.t1_descricao_fiscal"
              [pKeyFilter]="vp.key_filter"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="col-12 pb-0">
        <app-t1-c1-marca [vp]="vp"></app-t1-c1-marca>
      </div>

      <!--<div class="col-12">
        <div class="grid">
          <span class="col-12">Pode ser requisitado?</span>
          <div class="col-12 py-0">
            <p-dropdown
              class="w-12"
              [styleClass]="'w-12'"
              [panelStyleClass]="'col-12'"
              [options]="vp.check_options"
              placeholder="Selecione"
              [(ngModel)]="vp.t1_requisitado"
              [readonly]="vp.t1_req_to_read"
            ></p-dropdown>
          </div>
        </div>
      </div>-->

      <div class="col-12">
        <div class="grid">
          <span class="col-12">Pode ser vendido?</span>
          <div class="col-12 py-0">
            <p-dropdown
              class="w-12"
              [styleClass]="'w-12'"
              [panelStyleClass]="'col-12'"
              [options]="vp.check_options"
              placeholder="Selecione"
              [(ngModel)]="vp.t1_vendido"
              [readonly]="vp.t1_req_to_read"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">Pode ser comprado?</span>
          <div class="col-12 py-0">
            <p-dropdown
              class="w-12"
              [styleClass]="'w-12'"
              [panelStyleClass]="'col-12'"
              [options]="vp.check_options"
              placeholder="Selecione"
              [(ngModel)]="vp.t1_comprado"
              [readonly]="vp.t1_req_to_read"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Coluna 2 -->
  <div class="col-3">
    <div class="grid">
      <!--<div class="col-12">
        <div class="grid">
          <span class="col-12">Permite gerar orçamento?</span>
          <div class="col-12 py-0">
            <p-dropdown
              class="w-12"
              [styleClass]="'w-12'"
              [panelStyleClass]="'col-12'"
              [options]="vp.check_options"
              placeholder="Selecione"
              [(ngModel)]="vp.t1_orcamento"
              [readonly]="vp.t1_req_to_read"
            ></p-dropdown>
          </div>
        </div>
      </div>-->

      <div class="col-12 pb-0">
        <app-t1-c2-substituto [vp]="vp"></app-t1-c2-substituto>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Produto será cotado?
            <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-dropdown
              class="w-12"
              [styleClass]="'w-12'"
              [panelStyleClass]="'col-12'"
              [options]="vp.check_options"
              placeholder="Selecione"
              [(ngModel)]="vp.t1_cotado"
              [readonly]="vp.t1_req_to_read"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-12 pb-0">
        <app-t1-c3-classificacao [vp]="vp"></app-t1-c3-classificacao>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Código de barras livre
            <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <input
              pInputText
              type="text"
              class="col-12"
              [readonly]="vp.t1_req_to_read"
              [(ngModel)]="vp.t1_barras"
            />
          </div>
          <h6
            class="col-12 m-0 py-0"
            style="font-weight: normal"
            [hidden]="vp.t1_req_to_read"
          >
            Se não possuir código, deve preencher "SEM GTIN" e justificar no
            campo abaixo
          </h6>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Justificativa código de barras
            <span
              [hidden]="
                vp.t1_req_to_read ||
                (vp.t1_barras != '' && vp.t1_barras != 'SEM GTIN')
              "
              style="color: red"
              >*</span
            >
          </span>
          <div class="col-12 py-0">
            <input
              pInputText
              type="text"
              class="col-12"
              [readonly]="vp.t1_req_to_read"
              [(ngModel)]="vp.t1_barras_just"
            />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Valor aprox. do item
            <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              mode="currency"
              currency="BRL"
              [minFractionDigits]="4"
              [maxFractionDigits]="4"
              [showButtons]="!vp.t1_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              decrementButtonIcon="pi pi-minus"
              incrementButtonIcon="pi pi-plus"
              [readonly]="vp.t1_req_to_read"
              placeholder="R$ 0,0000"
              [(ngModel)]="vp.t1_valor_aprox"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Coluna 3 -->
  <div class="col-3">
    <div class="grid">
      <!--<div class="col-12 pb-0">
        <app-t1-c4-origem [vp]="vp"></app-t1-c4-origem>
      </div>-->

      <div class="col-12 pb-0">
        <app-t1-c5-familia [vp]="vp"></app-t1-c5-familia>
      </div>

      <div class="col-12 pb-0">
        <app-t1-c6-unidade [vp]="vp"></app-t1-c6-unidade>
      </div>

      <div class="col-12 pb-0">
        <app-t1-c7-mercadoria [vp]="vp"></app-t1-c7-mercadoria>
      </div>

      <!--<div class="col-12 pb-0">
        <app-t1-c8-agr-comercial [vp]="vp"></app-t1-c8-agr-comercial>
      </div>-->

      <div class="col-12 pb-0">
        <app-t1-c9-agr-estoque [vp]="vp"></app-t1-c9-agr-estoque>
      </div>

      <div class="col-12 pb-0">
        <app-t1-c12-deposito [vp]="vp"></app-t1-c12-deposito>
      </div>

      <!--<div class="col-12 pb-0">
        <app-t1-c10-agr-custo [vp]="vp"></app-t1-c10-agr-custo>
      </div>-->

      <!--<div class="col-12">
        <div class="grid">
          <span class="col-12">Especificação técnica</span>
          <div class="col-12 py-0">
            <input
              pInputText
              type="text"
              class="col-12"
              [readonly]="vp.t1_req_to_read"
              [(ngModel)]="vp.t1_especificacao"
            />
          </div>
        </div>
      </div>-->

      <!--<div class="col-12 pb-0">
        <app-t1-c11-multinivel [vp]="vp"></app-t1-c11-multinivel>
      </div>-->
    </div>
  </div>

  <!-- Coluna 3 -->
  <div class="col-3">
    <div class="grid">
      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Altura / Espessura
            <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-8 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="3"
              [maxFractionDigits]="3"
              [showButtons]="!vp.t1_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t1_req_to_read"
              placeholder="0,000"
              [(ngModel)]="vp.t1_altura"
            >
            </p-inputNumber>
          </div>
          <div class="col-4 p-0">
            <p-selectButton
              [options]="vp.medida_options"
              [(ngModel)]="vp.t1_altura_tipo"
            ></p-selectButton>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Largura
            <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-8 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="3"
              [maxFractionDigits]="3"
              [showButtons]="!vp.t1_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t1_req_to_read"
              placeholder="0,000"
              [(ngModel)]="vp.t1_largura"
            >
            </p-inputNumber>
          </div>
          <div class="col-4 p-0">
            <p-selectButton
              [options]="vp.medida_options"
              [(ngModel)]="vp.t1_largura_tipo"
            ></p-selectButton>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-8">
            Comprimento
            <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-8 py-0">
            <p-inputNumber
              class="w-12"
              [styleClass]="'w-12'"
              [inputStyleClass]="'col-12'"
              [min]="0"
              [step]="1"
              mode="decimal"
              [minFractionDigits]="3"
              [maxFractionDigits]="3"
              [showButtons]="!vp.t1_req_to_read"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-0"
              incrementButtonClass="p-0"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [readonly]="vp.t1_req_to_read"
              placeholder="0,000"
              [(ngModel)]="vp.t1_comprimento"
            >
            </p-inputNumber>
          </div>
          <div class="col-4 p-0">
            <p-selectButton
              [options]="vp.medida_options"
              [(ngModel)]="vp.t1_comprimento_tipo"
            ></p-selectButton>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Aplicação
            <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <input
              pInputText
              type="text"
              class="col-12"
              [readonly]="vp.t1_req_to_read"
              [(ngModel)]="vp.t1_aplicacao"
            />
          </div>
          <h6
            class="col-12 m-0 py-0"
            style="font-weight: normal"
            [hidden]="vp.t1_req_to_read"
          >
            Descreva onde será utilizado o produto
          </h6>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Composição Tratamento
            <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <input
              pInputText
              type="text"
              class="col-12"
              [readonly]="vp.t1_req_to_read"
              [(ngModel)]="vp.t1_comp_trata"
            />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="grid">
          <span class="col-12">
            Produto vai ter estoque controlado?
            <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
          </span>
          <div class="col-12 py-0">
            <p-dropdown
              class="w-12"
              [styleClass]="'w-12'"
              [panelStyleClass]="'col-12'"
              [options]="vp.check_options"
              placeholder="Selecione"
              [(ngModel)]="vp.t1_controlado"
              [readonly]="vp.t1_req_to_read"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
