<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Venda virtual?
        <span [hidden]="vp.t1_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="vp.check_options"
          placeholder="Selecione"
          [(ngModel)]="vp.t1_c3_c2_venda_virtual"
          [readonly]="vp.t1_mandatory_to_readonly"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Categoria de venda on-line
        <span
          style="color: red"
          [hidden]="
            vp.t1_mandatory_to_readonly || vp.t1_c3_c2_venda_virtual != 'Sim'
          "
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t1_c3_c2_categoria_des"
            (click)="categoriaInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t1_mandatory_to_readonly ? 'none' : ''"
            (click)="categoriaInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Categorias"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal_cat"
  >
    <p-table
      #tableCategoria
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t1_c3_c2_categoria_arr"
      [(selection)]="vp.t1_c3_c2_categoria_obj"
      (onRowSelect)="categoriaSelect()"
      dataKey="codCtg"
      [globalFilterFields]="['codCtg', 'desCtg']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableCategoria.filterGlobal(
                  $any($event.target).value,
                  'contains'
                )
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codCtg">
            Código <p-sortIcon field="codCtg"></p-sortIcon>
          </th>
          <th pSortableColumn="desCtg">
            Descrição <p-sortIcon field="desCtg"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cat>
        <tr [pSelectableRow]="cat">
          <td>{{ cat.codCtg }}</td>
          <td>{{ cat.desCtg }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Subcategoria de venda on-line
        <span
          style="color: red"
          [hidden]="
            vp.t1_mandatory_to_readonly || vp.t1_c3_c2_venda_virtual != 'Sim'
          "
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t1_c3_c2_subcategoria_des"
            (click)="subCategoriaInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t1_mandatory_to_readonly ? 'none' : ''"
            (click)="subCategoriaInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Subcategorias"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal_sub"
  >
    <p-table
      #tableSubCategoria
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t1_c3_c2_subcategoria_arr"
      [(selection)]="vp.t1_c3_c2_subcategoria_obj"
      (onRowSelect)="subCategoriaSelect()"
      dataKey="codSct"
      [globalFilterFields]="['codSct', 'desSct']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableSubCategoria.filterGlobal(
                  $any($event.target).value,
                  'contains'
                )
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codSct">
            Código <p-sortIcon field="codSct"></p-sortIcon>
          </th>
          <th pSortableColumn="desSct">
            Descrição <p-sortIcon field="desSct"></p-sortIcon>
          </th>
          <th>Código de Categoria</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sub>
        <tr [pSelectableRow]="sub">
          <td>{{ sub.codSct }}</td>
          <td>{{ sub.desSct }}</td>
          <td>{{ sub.codCtg }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
