<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Unidade de medida 2 para uso gerencial</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t5_c2_c1_med_2_des"
            (click)="uni2Input()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t5_mandatory_to_readonly ? 'none' : ''"
            (click)="uni2Input()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Unidades de medida"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal_2"
  >
    <p-table
      #tableUni2
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.unidades_medida_arr"
      [(selection)]="vp.t5_c2_c1_med_2_obj"
      (onRowSelect)="uni2Select()"
      dataKey="uniMed"
      [globalFilterFields]="['uniMed', 'desMed']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableUni2.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="uniMed">
            Unidade <p-sortIcon field="uniMed"></p-sortIcon>
          </th>
          <th pSortableColumn="desMed">
            Descrição <p-sortIcon field="desMed"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-un2>
        <tr [pSelectableRow]="un2">
          <td>{{ un2.uniMed }}</td>
          <td>{{ un2.desMed }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >

  <div class="col-12">
    <div class="grid">
      <span class="col-12">Unidade de medida 3 para uso gerencial</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t5_c2_c1_med_3_des"
            (click)="uni3Input()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t5_mandatory_to_readonly ? 'none' : ''"
            (click)="uni3Input()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Unidades de medida"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal_3"
  >
    <p-table
      #tableUni3
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.unidades_medida_arr"
      [(selection)]="vp.t5_c2_c1_med_3_obj"
      (onRowSelect)="uni3Select()"
      dataKey="uniMed"
      [globalFilterFields]="['uniMed', 'desMed']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableUni3.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="uniMed">
            Unidade <p-sortIcon field="uniMed"></p-sortIcon>
          </th>
          <th pSortableColumn="desMed">
            Descrição <p-sortIcon field="desMed"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-un3>
        <tr [pSelectableRow]="un3">
          <td>{{ un3.uniMed }}</td>
          <td>{{ un3.desMed }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
