<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Existe item similar?
        <span [hidden]="vp.t1_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="vp.check_options"
          placeholder="Selecione"
          [(ngModel)]="vp.t1_c1_c2_similar_exi"
          [readonly]="vp.t1_mandatory_to_readonly"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12" [hidden]="vp.t1_c1_c2_similar_exi != 'Sim'">
    <div class="grid">
      <span class="col-12"
        >Código do item similar
        <span style="color: red" [hidden]="vp.t1_mandatory_to_readonly"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t1_c1_c2_item_simi_cod"
            (click)="similarInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t1_mandatory_to_readonly ? 'none' : ''"
            (click)="similarInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Itens similares"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal"
  >
    <p-table
      #tableSimilar
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t1_c1_item_arr"
      [(selection)]="vp.t1_c1_c2_item_simi_obj"
      (onRowSelect)="similarSelect()"
      dataKey="codPro"
      [globalFilterFields]="['codPro', 'desPro']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableSimilar.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codPro">
            Código <p-sortIcon field="codPro"></p-sortIcon>
          </th>
          <th pSortableColumn="desPro">
            Descrição <p-sortIcon field="desPro"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sim>
        <tr [pSelectableRow]="sim">
          <td>{{ sim.codPro }}</td>
          <td>{{ sim.desPro }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
