<div class="grid mt-1">
  <div class="col-3">
    <div class="grid">
      <span class="col-12"
        >Fornecedor
        <span
          [hidden]="vp.t2_mandatory_to_readonly || vp.t1_c1_cotado != 'Não'"
          style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t2_fornecedor_des"
            (click)="fornecedorInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t2_mandatory_to_readonly ? 'none' : ''"
            (click)="fornecedorInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Fornecedores"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [(visible)]="mostrar_modalFor"
  >
    <p-table
      #tableFornecedor
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [value]="vp.t2_fornecedor_arr"
      [(selection)]="vp.t2_fornecedor_obj"
      (onRowSelect)="fornecedorSelect()"
      dataKey=""
      [globalFilterFields]="['', '']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableFornecedor.filterGlobal(
                  $any($event.target).value,
                  'contains'
                )
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-for>
        <tr [pSelectableRow]="for">
          <td>{{ for.c }}</td>
          <td>{{ for.d }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >

  <div class="col-3">
    <div class="grid">
      <span class="col-12"
        >Quantidade múltipla fornecedor
        <span [hidden]="vp.t2_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-inputNumber
          class="w-12"
          [styleClass]="'w-12'"
          [inputStyleClass]="'col-12'"
          [min]="0"
          [step]="1"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          [showButtons]="!vp.t2_mandatory_to_readonly"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          decrementButtonClass="p-0"
          incrementButtonClass="p-0"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [readonly]="vp.t2_mandatory_to_readonly"
          placeholder="0,00"
          [(ngModel)]="vp.t2_quantidade_multipla"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="grid">
      <span class="col-12"
        >Quantidade máxima fornecedor
        <span [hidden]="vp.t2_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-inputNumber
          class="w-12"
          [styleClass]="'w-12'"
          [inputStyleClass]="'col-12'"
          [min]="0"
          [step]="1"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          [showButtons]="!vp.t2_mandatory_to_readonly"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          decrementButtonClass="p-0"
          incrementButtonClass="p-0"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [readonly]="vp.t2_mandatory_to_readonly"
          placeholder="0,00"
          [(ngModel)]="vp.t2_quantidade_maxima"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="grid">
      <span class="col-12"
        >Quantidade mínima fornecedor
        <span [hidden]="vp.t2_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-inputNumber
          class="w-12"
          [styleClass]="'w-12'"
          [inputStyleClass]="'col-12'"
          [min]="0"
          [step]="1"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          [showButtons]="!vp.t2_mandatory_to_readonly"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          decrementButtonClass="p-0"
          incrementButtonClass="p-0"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [readonly]="vp.t2_mandatory_to_readonly"
          placeholder="0,00"
          [(ngModel)]="vp.t2_quantidade_minima"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="grid">
      <span class="col-12"
        >Código produto fornecedor
        <span
          [hidden]="vp.t2_mandatory_to_readonly || vp.t1_c1_cotado != 'Não'"
          style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="vp.t2_mandatory_to_readonly"
          [(ngModel)]="vp.t2_codigo_produto"
        />
      </div>
    </div>
  </div>
</div>
