<div class="grid">
  <div
    class="col-12 pt-1"
    [style.display]="
      vp.t5_req_to_read || vp.t5_file_GED.length != 0 ? 'none' : ''
    "
  >
    <div class="grid">
      <span class="col-12">Anexo cadastro</span>
      <div class="py-0 pl-2" style="max-width: 88%">
        <p-fileUpload
          #anexosT5
          styleClass="w-full"
          mode="basic"
          name="anexosT5_string[]"
          chooseLabel="Anexo"
          [chooseIcon]="'pi pi-search'"
          [uploadIcon]="'pi pi-save'"
          (onSelect)="escolherDocumentoFileUpload(anexosT5)"
        ></p-fileUpload>
      </div>
      <div
        class="py-0 pr-2"
        style="width: 12%"
        [hidden]="vp.t5_file_TS.length == 0"
      >
        <button
          pButton
          class="p-button-danger w-full"
          icon="pi pi-times"
          type="button"
          (click)="removerDocumentoFileUpload(anexosT5)"
        ></button>
      </div>
    </div>
  </div>

  <div
    class="col-12"
    [style.display]="vp.t5_file_GED.length == 0 ? 'none' : ''"
  >
    <div class="grid">
      <span class="col-12">Anexo cadastro</span>
      <div
        class="col-12 py-0 flex align-items-center"
        *ngFor="let a of vp.t5_file_GED"
      >
        <button
          pButton
          type="button"
          class="p-button-info"
          icon="pi pi-download"
          (click)="descarregarDocumentoGED(a.gedId!)"
        ></button>
        <button
          pButton
          type="button"
          class="p-button-danger mr-2"
          icon="pi pi-trash"
          (click)="excluirDocumentoGED(a)"
        ></button>
        <span>{{ sn(a.arquivoGED!.title) }}</span>
      </div>
    </div>
  </div>
</div>
