<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Agrup. Estoques</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t5_c1_c2_agr_est_des"
            (click)="estoquesInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t5_mandatory_to_readonly ? 'none' : ''"
            (click)="estoquesInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Agrup. Estoques"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!buscando"
    [(visible)]="mostrar_modal_est"
  >
    <p-table
      #tableEstoques
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="buscando"
      [value]="vp.t5_c1_c2_agr_est_arr"
      [(selection)]="vp.t5_c1_c2_agr_est_obj"
      (onRowSelect)="estoquesSelect()"
      dataKey="codAgp"
      [globalFilterFields]="['codAgp', 'desAgp']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableEstoques.filterGlobal(
                  $any($event.target).value,
                  'contains'
                )
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codAgp">
            Código <p-sortIcon field="codAgp"></p-sortIcon>
          </th>
          <th pSortableColumn="desAgp">
            Descrição <p-sortIcon field="desAgp"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-est>
        <tr [pSelectableRow]="est">
          <td>{{ est.codAgp }}</td>
          <td>{{ est.desAgp }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >

  <div class="col-12">
    <div class="grid">
      <span class="col-12">Agrup. Custos</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t5_c1_c2_agr_cus_des"
            (click)="custosInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t5_mandatory_to_readonly ? 'none' : ''"
            (click)="custosInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Agrup. Custos"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!buscando"
    [(visible)]="mostrar_modal_cus"
  >
    <p-table
      #tableCustos
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="buscando"
      [value]="vp.t5_c1_c2_agr_cus_arr"
      [(selection)]="vp.t5_c1_c2_agr_cus_obj"
      (onRowSelect)="custosSelect()"
      dataKey="codAgp"
      [globalFilterFields]="['codAgp', 'desAgp']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableCustos.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codAgp">
            Código <p-sortIcon field="codAgp"></p-sortIcon>
          </th>
          <th pSortableColumn="desAgp">
            Descrição <p-sortIcon field="desAgp"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cus>
        <tr [pSelectableRow]="cus">
          <td>{{ cus.codAgp }}</td>
          <td>{{ cus.desAgp }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
