<div class="grid">
  <div class="col-12 pb-0">
    <app-t1-c4-c1-toxicologica [vp]="vp"></app-t1-c4-c1-toxicologica>
  </div>

  <div class="col-12 pb-0">
    <app-t1-c4-c2-risco [vp]="vp"></app-t1-c4-c2-risco>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12">Número de risco</span>
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="vp.t1_mandatory_to_readonly"
          [(ngModel)]="vp.t1_c4_numero_risco"
        />
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12">Número MAPA</span>
      <div class="col-12 py-0">
        <input
          pInputText
          type="text"
          class="col-12"
          [readonly]="vp.t1_mandatory_to_readonly"
          [(ngModel)]="vp.t1_c4_numero_mapa"
        />
      </div>
    </div>
  </div>

  <div class="col-12 pb-0">
    <app-t1-c4-c3-quimico [vp]="vp"></app-t1-c4-c3-quimico>
  </div>
</div>
