<div class="grid">
  <div class="col-12 pb-0">
    <app-t6-c1-c1-tipo [vp]="vp"></app-t6-c1-c1-tipo>
  </div>

  <div class="col-12 pb-0">
    <app-t6-c1-c2-icms [vp]="vp"></app-t6-c1-c2-icms>
  </div>

  <div class="col-12 pb-0">
    <app-t6-c1-c3-substituicao [vp]="vp"></app-t6-c1-c3-substituicao>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Recupera Pis
        <span [hidden]="vp.t6_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="vp.check_options"
          placeholder="Selecione"
          [(ngModel)]="vp.t6_c1_pis_recu"
          [readonly]="vp.t6_mandatory_to_readonly"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Recupera Cofins
        <span [hidden]="vp.t6_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="vp.check_options"
          placeholder="Selecione"
          [(ngModel)]="vp.t6_c1_cof_recu"
          [readonly]="vp.t6_mandatory_to_readonly"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Tributa Pis
        <span [hidden]="vp.t6_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="vp.check_options"
          placeholder="Selecione"
          [(ngModel)]="vp.t6_c1_pis_trib"
          [readonly]="vp.t6_mandatory_to_readonly"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Tributa Cofins
        <span [hidden]="vp.t6_mandatory_to_readonly" style="color: red"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="vp.check_options"
          placeholder="Selecione"
          [(ngModel)]="vp.t6_c1_cof_trib"
          [readonly]="vp.t6_mandatory_to_readonly"
        ></p-dropdown>
      </div>
    </div>
  </div>
</div>
