<!--<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Agrupamento comercial</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times-circle"
            class="py-0 pl-0 pr-1 p-button-text p-button-secondary w-auto"
            [style.display]="
              vp.t1_req_to_read ||
              vp.buscandoWS ||
              vp.t1_c8_agrcomercial_cod == ''
                ? 'none'
                : ''
            "
            (click)="comercialClear()"
          ></button>
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t1_c8_agrcomercial_des"
            (click)="vp.t1_req_to_read || vp.buscandoWS ? '' : comercialInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t1_req_to_read ? 'none' : ''"
            (click)="comercialInput()"
            [disabled]="vp.buscandoWS"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Agrupamentos comerciais"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal"
  >
    <p-table
      #tableComercial
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t1_c8_agrcomercial_arr"
      [(selection)]="vp.t1_c8_agrcomercial_obj"
      (onRowSelect)="comercialSelect()"
      dataKey="codAgp"
      [globalFilterFields]="['codAgp', 'desAgp']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableComercial.filterGlobal(
                  $any($event.target).value,
                  'contains'
                )
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codAgp">
            Código <p-sortIcon field="codAgp"></p-sortIcon>
          </th>
          <th pSortableColumn="desAgp">
            Descrição <p-sortIcon field="desAgp"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-com>
        <tr [pSelectableRow]="com">
          <td>{{ com.codAgp }}</td>
          <td>{{ com.desAgp }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>
</div>-->
