<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Grupo químico</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times-circle"
            class="p-0 p-button-text p-button-secondary w-auto mr-1"
            [style.display]="
              vp.t1_mandatory_to_readonly || this.vp.t1_c4_c3_quimico_cod == -1
                ? 'none'
                : ''
            "
            (click)="quimicoClear()"
          ></button>
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t1_c4_c3_quimico_des"
            (click)="quimicoInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t1_mandatory_to_readonly ? 'none' : ''"
            (click)="quimicoInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Grupos"
    [styleClass]="'w-7'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal"
  >
    <p-table
      #tableQuimico
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t1_c4_c3_quimico_arr"
      [(selection)]="vp.t1_c4_c3_quimico_obj"
      (onRowSelect)="quimicoSelect()"
      dataKey="codQui"
      [globalFilterFields]="['codQui', 'desQui']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableQuimico.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codQui">
            Código <p-sortIcon field="codQui"></p-sortIcon>
          </th>
          <th pSortableColumn="desQui">
            Descrição <p-sortIcon field="desQui"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-qui>
        <tr [pSelectableRow]="qui">
          <td>{{ qui.codQui }}</td>
          <td>{{ qui.desQui }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
