<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Código cBenef</span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t6_c3_c5_benef_des"
            (click)="benefInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t6_mandatory_to_readonly ? 'none' : ''"
            (click)="benefInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Códigos"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [(visible)]="mostrar_modalBen"
  >
    <p-table
      #tableBenef
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [value]="vp.t6_c3_c1_enq_esp_arr"
      [(selection)]="vp.t6_c3_c1_enq_esp_obj"
      (onRowSelect)="benefSelect()"
      dataKey=""
      [globalFilterFields]="['', '']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableBenef.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ben>
        <tr [pSelectableRow]="ben">
          <td>{{ ben.c }}</td>
          <td>{{ ben.d }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
