<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Situação Tributária Pis Vendas
        <span style="color: red" [hidden]="vp.t6_mandatory_to_readonly"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t6_c2_c1_pis_ven_des"
            (click)="situacaoInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t6_mandatory_to_readonly ? 'none' : ''"
            (click)="situacaoInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Situações"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [(visible)]="showModalSit"
  >
    <p-table
      #tablePisVen
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [value]="vp.t6_c2_c1_pis_ven_arr"
      [(selection)]="vp.t6_c2_c1_pis_ven_obj"
      (onRowSelect)="situacaoSelect()"
      dataKey=""
      [globalFilterFields]="['', '']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tablePisVen.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sit>
        <tr [pSelectableRow]="sit">
          <td>{{ sit.c }}</td>
          <td>{{ sit.d }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >

  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Natureza Receita Pis
        <span style="color: red" [hidden]="vp.t6_mandatory_to_readonly"
          >*</span
        ></span
      >
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t6_c2_c1_pis_nat_des"
            (click)="naturezaInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t6_mandatory_to_readonly ? 'none' : ''"
            (click)="naturezaInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Naturezas"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [(visible)]="showModalNat"
  >
    <p-table
      #tablePisNat
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [value]="vp.t6_c2_c1_pis_nat_arr"
      [(selection)]="vp.t6_c2_c1_pis_nat_obj"
      (onRowSelect)="naturezaSelect()"
      dataKey=""
      [globalFilterFields]="['', '']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tablePisNat.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-nat>
        <tr [pSelectableRow]="nat">
          <td>{{ nat.c }}</td>
          <td>{{ nat.d }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
</div>
