<div class="grid mt-1">
  <div class="col-6">
    <div class="grid">
      <span class="col-12">Observação solicitação</span>
      <div class="col-12 py-0">
        <textarea
          pInputTextarea
          class="col-12"
          style="resize: none"
          rows="8"
          [readonly]="vp.t4_mandatory_to_readonly"
          [(ngModel)]="vp.t4_observacoes"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="grid">
      <div
        class="col-12"
        [style.display]="
          vp.t4_mandatory_to_readonly || vp.t4_anexo_ged_arr.length != 0
            ? 'none'
            : ''
        "
      >
        <div class="grid">
          <span class="col-12">Anexo solicitação</span>
          <div class="py-0 pl-2" style="max-width: 94%">
            <p-fileUpload
              #anexosT3
              mode="basic"
              name="anexosT3_string[]"
              [customUpload]="true"
              chooseLabel="Anexo"
              [chooseIcon]="'pi pi-search'"
              (onSelect)="escolherDocumentoFileUpload(anexosT3)"
              (uploadHandler)="enviarDocumentos(anexosT3)"
            ></p-fileUpload>
          </div>
          <div
            class="py-0 pr-2"
            style="width: 6%"
            [hidden]="vp.t4_anexo_files.length == 0"
          >
            <button
              pButton
              class="p-button-danger w-full"
              icon="pi pi-times"
              type="button"
              (click)="removerDocumentoFileUpload(anexosT3)"
            ></button>
          </div>
        </div>
      </div>

      <div
        class="col-12"
        [style.display]="vp.t4_anexo_ged_arr.length == 0 ? 'none' : ''"
      >
        <div class="grid">
          <span class="col-12">Anexo solicitação</span>
          <div
            class="col-12 py-0 flex align-items-center"
            *ngFor="let a of vp.t4_anexo_ged_arr"
          >
            <span>{{ sn(a.arquivoGED!.title) }}</span>
            <button
              pButton
              type="button"
              class="p-button-info ml-2"
              icon="pi pi-download"
              (click)="descarregarDocumentoGED(a.gedId!)"
            ></button>
            <button
              pButton
              type="button"
              class="p-button-danger"
              icon="pi pi-trash"
              (click)="excluirDocumentoGED(a)"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
