<!--<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">
        Unidade de medida Estoque
        <span style="color: red" [hidden]="vp.t2_req_to_read">*</span>
      </span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times-circle"
            class="py-0 pl-0 pr-1 p-button-text p-button-secondary w-auto"
            [style.display]="
              vp.t2_req_to_read || vp.buscandoWS || vp.t2_c2_medida_cod == ''
                ? 'none'
                : ''
            "
            (click)="unidadeClear()"
          ></button>
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t2_c2_medida_des"
            (click)="vp.t2_req_to_read || vp.buscandoWS ? '' : unidadeInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t2_req_to_read ? 'none' : ''"
            (click)="unidadeInput()"
            [disabled]="vp.buscandoWS"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Unidades de medida"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal"
  >
    <p-table
      #tableUnidade
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.unidades_arr"
      [(selection)]="vp.t2_c2_medida_obj"
      (onRowSelect)="unidadeSelect()"
      dataKey="uniMed"
      [globalFilterFields]="['uniMed', 'desMed']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableUnidade.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="uniMed">
            Unidade <p-sortIcon field="uniMed"></p-sortIcon>
          </th>
          <th pSortableColumn="desMed">
            Descrição <p-sortIcon field="uniMed"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ori>
        <tr [pSelectableRow]="ori">
          <td>{{ ori.uniMed }}</td>
          <td>{{ ori.desMed }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>
</div>-->
