<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12">
        Substituto de item já cadastrado?
        <span [hidden]="vp.t1_req_to_read" style="color: red">*</span>
      </span>
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="vp.check_options"
          placeholder="Selecione"
          [(ngModel)]="vp.t1_c2_substituto_cad"
          [readonly]="vp.t1_req_to_read"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12" [hidden]="vp.t1_c2_substituto_cad != 'Sim'">
    <div class="grid">
      <span class="col-12">
        Código do item a ser substituido
        <span style="color: red" [hidden]="vp.t1_req_to_read">*</span>
      </span>
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times-circle"
            class="p-0 p-button-text p-button-secondary w-auto mr-1"
            [style.display]="
              vp.t1_req_to_read ||
              vp.buscandoWS ||
              vp.t1_c2_substituto_cod == ''
                ? 'none'
                : ''
            "
            (click)="substituidoClear()"
          ></button>
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            [(ngModel)]="vp.t1_c2_substituto_cod"
            (click)="
              vp.t1_req_to_read || vp.buscandoWS ? '' : substituidoInput()
            "
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            [style.display]="vp.t1_req_to_read ? 'none' : ''"
            (click)="substituidoInput()"
            [disabled]="vp.buscandoWS"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Itens para substituir"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [closable]="!vp.buscandoWS"
    [(visible)]="mostrar_modal"
  >
    <p-table
      #tableSubstituido
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      [loading]="vp.buscandoWS"
      [value]="vp.t1_c2_substituto_arr"
      [(selection)]="vp.t1_c2_substituto_obj"
      (onRowSelect)="substituidoSelect()"
      dataKey="codPro"
      [globalFilterFields]="['codPro', 'desPro']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableSubstituido.filterGlobal(
                  $any($event.target).value,
                  'contains'
                )
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="codPro">
            Código <p-sortIcon field="codPro"></p-sortIcon>
          </th>
          <th pSortableColumn="desPro">
            Descrição <p-sortIcon field="desPro"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sub>
        <tr [pSelectableRow]="sub">
          <td>{{ sub.codPro }}</td>
          <td>{{ sub.desPro }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>
</div>
